<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/ds_models.css' %}">
    <title>numpy</title>
</head>
<body>
    <div class="library">
        <div class="plot">
            <i class="fas fa-calculator"></i>
            <h3>NumPy Mean</h3>
            <p>The mean function calculates the arithmetic mean (average) of elements along a specified axis.</p>
        </div>
    
        <div class="plot">
            <i class="fas fa-calculator"></i>
            <h3>NumPy Sum</h3>
            <p>The sum function computes the sum of array elements over a specified axis.</p>
        </div>
    
        <div class="plot">
            <i class="fas fa-calculator"></i>
            <h3>NumPy Standard Deviation</h3>
            <p>The std function calculates the standard deviation of elements along a specified axis.</p>
        </div>
    
        <div class="plot">
            <i class="fas fa-calculator"></i>
            <h3>NumPy Max</h3>
            <p>The max function returns the maximum value along a specified axis.</p>
        </div>

        <div class="plot">
            <i class="fas fa-calculator"></i>
            <h3>NumPy Min</h3>
            <p>The min function returns the minimum value along a specified axis.</p>
        </div>
        
        <div class="plot">
            <i class="fas fa-calculator"></i>
            <h3>NumPy Transpose</h3>
            <p>The transpose function returns the transpose of the array. It reverses or permutes the axes of the array.</p>
        </div>
    </div>
</body>
</html>