<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/ds_models.css' %}">
    <title>Stats</title>
</head>
<body>
    <div class="library">
        <div class="plot">
            <i class="fas fa-chart-line"></i>
            <h3>Statsmodels Ordinary Least Squares (OLS)</h3>
            <p>OLS regression is a method for estimating the unknown parameters in a linear regression model. It minimizes the sum of squared differences between the observed and predicted values.</p>
        </div>
    
        <div class="plot">
            <i class="fas fa-chart-line"></i>
            <h3>Statsmodels Logistic Regression</h3>
            <p>Logistic regression is a statistical method for analyzing a dataset in which there are one or more independent variables that determine an outcome.</p>
        </div>
    
        <div class="plot">
            <i class="fas fa-chart-line"></i>
            <h3>Statsmodels Poisson Regression</h3>
            <p>Poisson regression is a type of regression analysis used to model count data and contingency tables.</p>
        </div>
    
        <div class="plot">
            <i class="fas fa-chart-line"></i>
            <h3>Statsmodels Linear Mixed Effects Models</h3>
            <p>Linear mixed effects models are used to analyze data that have a hierarchical or clustered structure, where observations are grouped within higher-level units.</p>
        </div>
    
        <div class="plot">
            <i class="fas fa-chart-line"></i>
            <h3>Statsmodels Generalized Estimating Equations (GEE)</h3>
            <p>GEE is a method for analyzing longitudinal or clustered data that relaxes the assumption of independence between observations within clusters.</p>
        </div>
    
        <div class="plot">
            <i class="fas fa-chart-line"></i>
            <h3>Statsmodels Robust Linear Models</h3>
            <p>Robust linear models are used to fit linear regression models when the assumptions of normality and homoscedasticity are violated.</p>
        </div>
    
        <div class="plot">
            <i class="fas fa-chart-line"></i>
            <h3>Statsmodels Time Series Analysis</h3>
            <p>Time series analysis is a statistical technique used to analyze time-ordered data, such as stock prices, weather data, or economic indicators.</p>
        </div>
    </div>
    
</body>
</html>